*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height:60px;

    z-index:10;

    background-color:#946a53;
    padding: 10px 0;

}

.nav{
    display:flex;

    align-items: center;

    height:100%;



    
}



.menu{
    padding-top:9px;
    display: flex;
    width:50%;
    gap:100px;

    height:100%;
    padding-left: 38%;

    

}

.menu li{
    list-style: none;
    height:100%;

    
}

.menu a{
    text-decoration: none;
    color: white;
    transition: all 500ms ease-in;

    

}


.menu a:hover{

    color:black;

}
.carousel {
    position: relative;
    width:100%;
    height:500px;
}



.carousel h1 {
    color: white;
    margin: 0;
    text-align: center;
}

.content{
    width: 100vw;
    height: 30vw;
    position: relative;
    flex-shrink: 0;
}





.car-out{
    width: 100vw;
    height: 30vw;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
.container-car{
    display: flex;
    width: calc(3 * 100vw); 
    height: 100%;
    transition: all 800ms ease-in-out;


}

.content img{
    width: 100vw;
    height: 30vw;
    object-fit: cover;
    object-position: center;

}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vw;
    background: rgba(0,0,0,0.3); /* semi-transparent black */
    pointer-events: none; /* allows clicks to pass through */
    z-index: 2;
}



.dir a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 50px;
    color: white;

    transition: background 200ms ease-in-out;
}

.dir a:hover{

    color: black;
}

.dir{
    position: absolute;
    top: calc(40% - 5px);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    z-index: 11;
    padding: 0 60px;
}

.dir h1{
    flex: 1;
    text-align: center;
}

.video-container{

    width:80%;


    flex-direction: column;


    margin:20px;
    align-items: center;
    width:80%;

    background-color: beige;
    display:flex;
    padding:30px;
    justify-self:center;
    border-radius:10px;
    

}






.video-container h1{
    margin-bottom:10px;
    padding:5px;
}

.video{
    border-radius:8px;
    padding:5px;
}




.card-gallery{
    margin: 40px 0;
    padding:20px;
    width: 80%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border-radius:10px;
}

.card-collection{
    display: flex;
    padding:10px;
    gap:10px;
    overflow-x: scroll;
    
}

.card-gallery h2{
    text-align: center;
    margin:20px;
}

.card{
    background-color: white;
    padding:20px;
    border-radius:10px;
    width: 260px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    
    
}
.card p{
    margin:10px;
    text-align: center;
}

.card img{
    width:200px;
    height:200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom:10px;
}

.card a{
    text-decoration: none;
    background-color:darkseagreen;
    padding: 5px 10px;
    transition: all 300ms;
    border-radius: 8px;
    font-weight: bold;
    color: black;
    display:flex;
    justify-self:center;
    width: 100px;
    justify-content: center;
}

.card a:hover{
    background-color: white;
    border: solid 2px darkseagreen;
    box-shadow: 5px 5px darkseagreen;
}

.site-footer{
    background-color:#946a53;
    color:#fff;
    padding:30px 10%;
    margin-top:40px;
}

.footer-content{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}

.footer-links{
    display:flex;
    gap:20px;
}

.footer-links a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
}

.footer-links a:hover{
    text-decoration:underline;
}

.card-holder{
    background-color: pink;
    width:1000px;
    border-radius:8px;
    display:flex;
    justify-self:center;
    justify-content: center;
    align-items: center;
    height:400px;
    gap:30px;
}

.card-frame{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:300px;
    width:200px;
    border-radius: 8px;
    background-color: black;
    overflow:hidden;

}

.card-frame:hover img{
    transform: scale(1.1);
}

.card-frame img{
    height:100%;
    transition: all 300ms;
    z-index: 0;
}

.card-frame p{
    position:relative;
    z-index:1;
    bottom:30px;
    background-color: rgba(0, 0, 0, 0.265);
    width:100%;
    text-align: center;
    padding:6px;
    backdrop-filter: blur(5px);
}


.recipe{

    width:80%;


    flex-direction: column;


    margin:20px;
    align-items: center;
    width:80%;

    background-color: beige;
    display:flex;
    padding:30px;
    justify-self:center;
    border-radius:10px;
    

}

.about{

    width:80%;


    flex-direction: column;


    margin:20px;
    align-items: center;
    width:80%;

    background-color: beige;
    display:flex;
    padding:30px;
    justify-self:center;
    border-radius:10px;
    

}

.contact{

    width:80%;


    flex-direction: column;


    margin:20px;
    align-items: center;
    width:80%;

    background-color: beige;
    display:flex;
    padding:30px;
    justify-self:center;
    border-radius:10px;
    

}






.recipe h1{
    margin-bottom:10px;
    padding:5px;
}

.halfhalf{
    display: flex;
    gap:20px;
}

.halfhalf div{
    background-color: white;
    padding:30px;
    border-radius: 8px;
}

.newtable{
    width:1000px;
    border-radius:8px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-self:center;
    padding:20px;
    margin:20px;
}
.newtable h2{
    text-align:center;
    margin:10px;
    color:blue;
}

table, tr, th, td{
    border:solid 2px rgb(76, 0, 148);
    border-collapse:collapse;
    padding:10px;
}

th{
    background-color: blueviolet;
    color: white;
}